
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 40%;
  max-height: 250px;
  max-width: 250px;
}

main{
  padding: 20px;
}

h3{
color: green;
text-align: center;
margin-top: 50px;
margin-bottom: 20px;

}

.imagen{
  height: 80px;
  width: auto;
  
}

.separador{
  background-color: green;
}

.texto{
  display: flex;
  justify-content: center;

}

#navbar{
  position: sticky;
  top: 0;
  height: 15vh;
  z-index: 99;
}

#carrito{
  max-height: 30px;
  max-width: 30px;
  
}

#sticky{
  position: sticky;
}

#whatsapp{
  position:fixed;
  bottom:2vw;
  right:2vw;
  max-width: 70px;
  max-height: 70px;
}

@media only screen and (max-width: 600px){
  .mate{
    position:static

  }
}

